# Python virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Logs and databases
*.log
*.sqlite

# Docker-related
.dockerignore
docker-compose.override.yml

# IDE-specific files
.vscode/
.idea/

# Environment variable files
.env

# Ignore any local files or directories that are not meant to be shared
# Add more specific entries as needed based on your project's specific files

# Ignore system files that might be created on different operating systems
.DS_Store
Thumbs.db
producer/articles/